html{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: row-reverse;
}

.file{
    width: 100%;
}

.banner{
    width: 70%;
    height: 115%;
    background-image: url(../img/logo_graduacaoi-2.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.form{
    display: flex;
    width: 50%;
    height: 110%;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    position: relative;
    top: 2%;
}
.form-sugestao{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.foto-area{
    margin: 0 0 20px 0;
}

.fileUpload {
    position: relative;  
    margin: 10px;
    width: 50px;
    height: 50px;
    background-image: url(../img/addFoto.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.upload { 
    height: 50px;
    position: absolute; 
    top: 0; 
    font-size: 20px;
    opacity: 0;
}

.home{
    width: 85%;
}
.box-home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5% 0 5% 0;
}
.home-logo{
    width: 150px;
}
.rede{
    display: flex;
    flex-direction: row;
}
.home-rede{
    width: 2.5em;
    margin: 0 0 0 6px;
}
.home-rede-y{
    position: relative;
    top: -4px;
    width: 2.8em;
    margin: 0 0 0 6px;
}
.form-item{
    display: block;
    width: 88%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
}
.form-submit{
    border-radius: 50px;
    background-color: #b4b4b4;
    display: flex;
    justify-content: center;
    width: 88%;
    height: 5%;
    border: none;
    color: #636363;
    margin-top: 0;
    font-family: "Montserrat";
}
.form-submit:hover{
    color: #fff;
    background-color: #8c3c9a;
    
}
.form-textarea{
    height: 100px;
    width: 100%;
    margin: 3%;
    display: block;
    width: 80%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
}
.form-title{
    font-family: "Montserrat";
    color:#8c3c9a;
    font-size: 24px;
}
.form-legend{
    font-family: "Montserrat";
    color:#8c3c9a;
    font-size: 20px;
    margin-top: 1%;
}
.div-of-form-1{
    color: #e1e1e1;
    height: 1px;
    width: 80%;
    background-color: #e1e1e1;
    margin-top: 10%;
    position: relative;
    top: -5%;
}
.div-of-form-2{
    color: #e1e1e1;
    height: 1px;
    width: 80%;
    background-color: #e1e1e1; 
    margin-top: 3%;
}

/*ABAIXO DE 720 A PAGINA DEVE EXIBIR CAIXAS EM ESTRUTURA DE COLUNA*/

@media (min-width: 480px) and (max-width: 720px){
    html{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    body{
        display: block;
        margin: 0;
    }
    .form{
        flex-direction: column;
        width: 100%;
    }
    .banner{
        height: 350px;
        width: 100%;
    }
    .form-item{
        margin-top: 5%;
        height: 35px;
    }
    .form-title{
        margin-top: 10%;
    }
    .form-legend{
        margin-top: 5%; 
    }
    .form-textarea{
        width: 88%;
        margin-top: 30px;
    }
    .form-submit{
        height: 50px;
    }
    .a-env{
        font-family: "Montserrat";
        color: #8c3c9a;
        text-decoration: none;
        font-size: 20px;
    }
    .link-pesquisa{
        margin-top: 3%;
    }
    .link-others{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 150px;
        margin: 10% 0 5% 0;
    }
    .home-log-a{
        margin: 0 0 15% 0;
    }
    .rede{
        align-items: center;
        justify-content: center;
    }
    .a-env:hover{
        color: #9c3aad;
    }
}



@media (min-width: 721px){
    html, body{
        height: 100%;
        margin: 0;
    }
    .pag{
                
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        
    }
    .pag-info{
        
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .box-form{
        display: flex;
        width: 88%;
        margin: 1% 0 0% 0;
        
    }
    .form-sugestao{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .home{
        width: 85%;
    }
    .box-home{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 2% 0 0% 0;
    }
    .-form{
        flex-direction: column;
       
    }
    .link-pesquisa{
        display:flex;
        justify-content: center;
        width: 100%;
        margin-top: 0;
        height: 10px;
        position: relative;
        top: -10px
    }
    .link-others{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 200px;
        margin: 5% 0 5% 0;
    }

    .home-logo{
        width:150px;
    }
    .rede{
        display: flex;
        flex-direction: row;
    }
    .form-item{
        display: flex;
        margin-top: 100px;
        width: 85%;
        height: 5%;
        margin: 2%;
        font-size: 16px;
    }
    .form-submit{
        border-radius: 50px;
        background-color: #b4b4b4;
        display: flex;
        justify-content: center;
        width: 88%;
        height: 5%;
        border: none;
        color: #636363;
        margin-top: 0;
        font-family: "Montserrat";
    }
    .form-submit:hover{
        color: #fff;
        background-color: #8c3c9a;
        
    }

    .env-env{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; 
        width: 88%;
       
    }
    .link-legend{
        font-family: "Montserrat";
        color:#8c3c9a;
        font-size: 20px;
    }

    .e-env-env{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 20%;
    }

    .env-sug{
        border-radius: 50px;
        background-color: #1d272000;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
        align-items: center;
    }
    .a-env{
        font-family: "Montserrat";
        color: #8c3c9a;
        text-decoration: none;
        font-size: 20px;
    }
    .a-env:hover{
        color: #c12adb;
        
    }
    .form-textarea{
        height: 150px;
        width: 85%;
        margin: 3%;
    }
    .form-title{
        font-family: "Montserrat";
        color:#8c3c9a;
        font-size: 30px;
        margin: 1% 0 2% 0; 
    }

    .questionq1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 0 0 4% 0;
        position: relative;
    top: 3%;
    }

    .questionq2{
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 0 0 4% 0;
        position: relative;
        top:-19%;
    }

    .questionq3{
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 0 0 4% 0;
        position: relative;
        top:-41.5%;
    }

    .questionq4{
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 0 0 4% 0;
        position: relative;
        top:-37%;
    }


    .position-q{
        position: fixed;
        top: 11%;
        border: 1px solid red;
        width: 730px;
        height: 130px;
    }

    .position-btnp{

    }

    .position-btnv{

    }

    .btnp1{
        position: relative;
        top:7%;
        left: 41%;
    }

    .btnp2{
        position: relative;
        top:-14%;
        left: 41%;
    }

    .form-pergunta{
        font-family: "Montserrat";
        color:#8c3c9a;
        font-size: 20px;
        margin: 0 0 3% 0;
    }
    .div-of-form{
        color: #e1e1e1;
        height: 1px;
        font-size: 1px;
        width: 85%;
        background-color: #e1e1e1;
        margin: 0 0 0% 0;
    }

    .-p{
        margin: 0 0 3% 0;
    }

    .-s{
        margin: -1% 0 9% 0;
    }

    .question-radios {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      
      .question-radios:after {
        content: "";
        clear: both;
      }
      
      .payment-method {
        display: flex;
        background-color: rgb(52, 173, 0);
        height: 50px;
        width: 100%;
        border-radius: 70px;
        justify-content:space-between;
        align-items: center;
        text-align: center;
        color:rgb(255, 255, 255);
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: bold;

      }

      

      .payment-method:hover{
        background-color: #8c3c9a;
      }

      .span-of-option{
          position: relative;
          left: -3px;
      }

      .payment-method + .payment-method {
        margin-left: 10px;
      }

      .payment-method label {
        cursor: pointer;
        display: block;
        font-size: 0;
        position: absolute;
        text-indent: 100%;
        white-space: nowrap;
        width: 127px;
        height: 50px;
        border-radius: 80px;
        
      }


      .payment-method input:checked + label{
        border: 4px solid #8c3c9a;
      }

      .radio-teste{
          width: 0;
          height: 0;
          position: relative;
          left: -10px;
      }
}

/*ABAIXO DE 768 os links devem diminuir*/

@media (min-width: 1001px){

    html, body{
        height: 100%;
        margin: 0;
    }
    .pag{
                
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        
    }
    .pag-info{
        
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .box-form{
        display: flex;
        width: 88%;
        margin: 1% 0 0% 0;
        
    }
    .form-sugestao{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .home{
        width: 85%;
    }
    .box-home{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 2% 0 0% 0;
    }
    .-form{
        flex-direction: column;
       
    }
    .link-pesquisa{
        display:flex;
        justify-content: center;
        width: 100%;
        margin-top: 0;
        height: 10px;
        position: relative;
        top: -10px
    }
    .link-others{
        width: 90%;
        display: flex;
        flex-direction: row;
        margin-top: 80px;
        justify-content: space-between;
        height: 0px;
    }

    .home-logo{
        width:150px;
    }
    .rede{
        display: flex;
        flex-direction: row;
    }
    .form-item{
        display: flex;
        margin-top: 100px;
        width: 85%;
        height: 5%;
        margin: 2%;
        font-size: 16px;
    }
    .form-submit{
        border-radius: 50px;
        background-color: #b4b4b4;
        display: flex;
        justify-content: center;
        width: 88%;
        height: 5%;
        border: none;
        color: #636363;
        margin-top: 0;
        font-family: "Montserrat";
    }
    .form-submit:hover{
        color: #fff;
        background-color: #8c3c9a;
        
    }

    .env-env{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; 
        width: 88%;
       
    }
    .link-legend{
        font-family: "Montserrat";
        color:#8c3c9a;
        font-size: 20px;
    }

    .e-env-env{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 20%;
    }

    .env-sug{
        border-radius: 50px;
        background-color: #1d272000;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
        align-items: center;
    }
    .a-env{
        font-family: "Montserrat";
        color: #8c3c9a;
        text-decoration: none;
        font-size: 20px;
    }
    .a-env:hover{
        color: #c12adb;
        
    }
    .form-textarea{
        height: 150px;
        width: 85%;
        margin: 3%;
    }
    .form-title{
        font-family: "Montserrat";
        color:#8c3c9a;
        font-size: 30px;
        margin: 1% 0 2% 0; 
    }

    .questionq1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 0 0 4% 0;
        position: relative;
    top: 3%;
    }

    .questionq2{
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 0 0 4% 0;
        position: relative;
        top:-19%;
    }

    .questionq3{
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 0 0 4% 0;
        position: relative;
        top:-41.5%;
    }

    .questionq4{
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 0 0 4% 0;
        position: relative;
        top:-37%;
    }


    .position-q{
        position: fixed;
        top: 11%;
        border: 1px solid red;
        width: 730px;
        height: 130px;
    }

    .position-btnp{

    }

    .position-btnv{

    }

    .btnp1{
        position: relative;
        top:7%;
        left: 41%;
    }

    .btnp2{
        position: relative;
        top:-14%;
        left: 41%;
    }

    .form-pergunta{
        font-family: "Montserrat";
        color:#8c3c9a;
        font-size: 20px;
        margin: 0 0 3% 0;
    }
    .div-of-form{
        color: #e1e1e1;
        height: 1px;
        font-size: 1px;
        width: 85%;
        background-color: #e1e1e1;
        margin: 0 0 0% 0;
    }

    .-p{
        margin: 0 0 3% 0;
    }

    .-s{
        margin: -1% 0 9% 0;
    }

    .question-radios {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      
      .question-radios:after {
        content: "";
        clear: both;
      }
      
      .payment-method {
        display: flex;
        background-color: rgb(52, 173, 0);
        height: 50px;
        width: 100%;
        border-radius: 70px;
        justify-content:space-between;
        align-items: center;
        text-align: center;
        color:rgb(255, 255, 255);
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: bold;

      }

      

      .payment-method:hover{
        background-color: #8c3c9a;
      }

      .span-of-option{
          position: relative;
          left: -3px;
      }

      .payment-method + .payment-method {
        margin-left: 10px;
      }

      .payment-method label {
        cursor: pointer;
        display: block;
        font-size: 0;
        position: absolute;
        text-indent: 100%;
        white-space: nowrap;
        width: 127px;
        height: 50px;
        border-radius: 80px;
        
      }


      .payment-method input:checked + label{
        border: 4px solid #8c3c9a;
      }

      .radio-teste{
          width: 0;
          height: 0;
          position: relative;
          left: -10px;
      }

}