<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../js/inputFile.js"></script>
    <link rel="stylesheet" href="../css-meu/form.css">
    <title>Document</title>
</head>
<body>
        <div class="input-wrapper">
                <label for="input-file">
                  Selecionar um arquivo
                </label>
                <input id="input-file" type="file" value="" />
                <span id="file-name"></span>
              </div>
</body>
</html>
